    .butterscotch-bg{
      background-color: #FABD02;
    }
    .banana-bg{
      background-color: #FCF4A3;
    }
    .changebtncolor{
      color: black;
      display: block;
      padding: 1rem 1.5rem;
      font-weight: 700;
      text-decoration: none !important;
    }
    .changebtncolor:hover ,.changebtncolor:focus{
      background-color:#F9A602;
      color: black;
      transition: background-color 0.3s ease-in-out;
    }
    .form-padded{
      margin-left: 10px !important;
      margin-right: 10px !important;
    }

