.bg-gold{
  background-color: #f9a602;
}
.bg-banana{
  background-color: #fcf4a3;
}

.shadow{
  box-shadow: 5px 10px #d3cc8f;
}

.error-display{
  color: red;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 5px;
  border-radius: 8px;
}

.alert-error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 8px;
  margin-bottom: 5px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.dropdown-mod{
  background-color: transparent;
  color: white;
}
.dropdown-mod:hover{
  background-color: white;
  color: black;
}

